---
export const prerender = false;

import AppLayout from "../../../layouts/AppLayout.astro";
import ClienteDetalle from "../../../components/clientes/ClienteDetalle.jsx";

const { id } = Astro.params;
---

<AppLayout pageTitle={`Cliente ${id} - VinOps`} activeSection="clientes">
  <section class="container py-3">
    <ClienteDetalle clienteId={id} client:load />
  </section>
</AppLayout>
